PORT=4000
FRONTEND_ORIGIN=http://localhost:3000
DEMO_MODE=false
MIDNIGHT_INDEXER_URL=
MIDNIGHT_CONTRACT_ADDRESS=
ISSUER_KEYPAIR_PATH=credentials/issuer-keypair.json
POLICY_MINIMUM_BIRTH_DATE=2008-08-30
